@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary: #2E073F;
  --secondary: #7A1CAC;
  --lighten: #AD49E1;
  --contrast: #EBD3F8
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans'
}

/* HEADER */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary);
  padding: 1rem 0;
}

.logo a {
  text-decoration: none;
  color: var(--contrast);
}

.logo h1 {
  font-weight: 200;
  font-size: 1.5rem
}

.navigation ul {
  display: flex;
  justify-content: center;
  gap: 4rem
}

.navigation li {
  list-style: none;
}

.navigation a {
  text-decoration: none;
  color: var(--contrast);
  font-weight: 700;
}

.navigation a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}

/* HERO SECTION */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/hero-bg.jpg');
  object-fit: cover;
  width: 100%;
  height: 90vh;
  display: table;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.hero-text {
  color: var(--contrast);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

.hero-text h1 {
  font-weight: 300;
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 1rem
}

.hero-text p {
  font-weight: 600;
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 1rem
}

.hero-text button {
  background-color: var(--contrast);
  color: var(--primary);
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid var(--primary);
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease
}

.hero-text button:hover {
  background-color: #2E073F;
  color: var(--contrast);
  border: 1px solid var(--contrast);
}